<app-modal [show]="modal.show" [content]="modal" (closeEvent)="onCloseModal()">
</app-modal>
<div class="container contact">
  <h5>Inclusão de notas</h5>
  <h6>Aqui você incluirá suas notas mentais </h6>
  <hr />

  <div class="row">
    <div class="col s12">
      <div
        id="div-register-product-message"
        class="card-panel white-text"
        [hidden]="!this.registerProductMessage"
        [class.red]="this.registerProductInvalid"
        [class.blue]="!this.registerProductInvalid"
      >
        {{ this.registerProductMessage }}
      </div>
    </div>
    <form class="col s12" #form="ngForm" (submit)="onSubmit()">
      <div class="row">
        <div class="input-field col s12">
          <input
          id="input-register-product"
            name="input-register-product"
            type="text"
            class="validate"
            [(ngModel)]="this.nomeNota"
            placeholder="Informe o nome da nota"
          />
        </div>
      </div>
      <button class="btn waves-effect waves-light blue-grey lighten-1" type="submit"
      [disabled]="!form.valid">
        incluir nota
        <i class="material-icons right">note_add</i>
      </button>
      <button
        style="margin-left: 10px"
        class="btn waves-effect waves-light blue-grey lighten-1"
        type="button"
        (click)="onResetClick()"
      >
        Apagar
        <i class="material-icons right">delete</i>
      </button>
    </form>
  </div>

<!--   <p>Nome: {{ this.nomeNota }}</p> -->

  <!-- <h6>Quantidade de Produtos na Lista:</h6> -->
 <app-product-panel
    #product
    [value]="this.user.qtde"
    (donationEvent)="this.onDonationEvent($event)"
  ></app-product-panel>
  <!-- link home -->
  <div class="row">
    <div class="col s12 m6 offset-m3 center">
      <a href="/index.html"> VOLTAR AO MENU PRINCIPAL </a>
    </div>
  </div>
  <!-- link home -->
</div>


