<table  class = "responsive-table highlight">
  <thead>
    <th>nome da nota</th>
    <th>interveniente</th>
    <th>dias aberto</th>
    <th>vencimento</th>
    <th>descrição da nota</th>
    <th>escopo</th>
    <th>ação</th>
  </thead>
  <tbody>
    <tr>
      <td>siga</td>
      <td>murilo</td>
      <td>5</td>
      <td>17/08/2022</td>
      <td>ajustes no siga</td>
      <td>profissional</td>
      <td><a href="#"><i class="material-icons">edit</i></a><a href="#"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td>servidores</td>
      <td>enzo</td>
      <td>5</td>
      <td>25/08/2022</td>
      <td>reconfigurar 33</td>
      <td>profissional</td>
      <td><a href="#"><i class="material-icons">edit</i></a><a href="#"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td>marcelo atual</td>
      <td>jocimar</td>
      <td>55</td>
      <td>01/09/2022</td>
      <td>novo marcelo atual</td>
      <td>profissional</td>
      <td><a href="#"><i class="material-icons">edit</i></a><a href="#"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td>uruguai</td>
      <td>renato</td>
      <td>70</td>
      <td>01/01/2023</td>
      <td>voltar para o uruguai</td>
      <td>pessoal</td>
      <td><a href="#"><i class="material-icons">edit</i></a><a href="#"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td>mestrado</td>
      <td>renato</td>
      <td>70</td>
      <td>01/01/2023</td>
      <td>escrever projeto para o mestrado</td>
      <td>pessoal</td>
      <td><a href="#"><i class="material-icons">edit</i></a><a href="#"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td>pós java</td>
      <td>renato</td>
      <td>70</td>
      <td>01/01/2023</td>
      <td>estudar angular</td>
      <td>pessoal</td>
      <td><a href="#"><i class="material-icons">edit</i></a><a href="#"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td>aplicações sensíveis</td>
      <td>renato</td>
      <td>70</td>
      <td>01/01/2023</td>
      <td>preencher tabela de todas as equipes com tudo que é sensível</td>
      <td>pessoal</td>
      <td><a href="#"><i class="material-icons">edit</i></a><a href="#"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td>marcelo atual</td>
      <td>flavia</td>
      <td>70</td>
      <td>01/01/2023</td>
      <td>pegar dados das tabelas do paj</td>
      <td>profissional</td>
      <td><a href="#"><i class="material-icons">edit</i></a><a href="#"><i class="material-icons">delete</i></a></td>
    </tr>
    <tr>
      <td>siga</td>
      <td>renato</td>
      <td>70</td>
      <td>01/01/2023</td>
      <td>protocolos por sprint</td>
      <td>profissional</td>
      <td><a href="#"><i class="material-icons">edit</i></a><a href="#"><i class="material-icons">delete</i></a></td>
    </tr>
  </tbody>
</table>




