<div class="container contact">
  <h5 class="center-align" >Aqui estão suas notas mentais</h5>

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <table>
        <thead>
          <tr>
            <th data-field="td-date">data da inclusão da nota</th>
            <th data-field="td-produto">título da nota</th>
            <!-- <th data-field="td-quandidade">multiplicador</th> -->
            <th>ação</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let t of this.user.transactions" (click)="onClickItem(t)">
            <td>{{ t.date}}</td>
            <td>{{ t.produto}}</td>
            <!-- <td>{{ t.value}}</td> -->
            <td><button class="waves-effect waves-light yellow darken-2 btn-small" (click) = "underConstruction()" ><i class="material-icons">edit</i></button>  <button  class="waves-effect waves-light deep-orange darken-4 btn-small"   (click) = "underConstruction()"><i class="material-icons">delete</i></button></td>
            <!-- <td>{{t.}}</td> -->
          </tr>
        </tbody>
      </table>

      <app-product-panel [value]="this.user.qtde"></app-product-panel>
    </div>
  </div>
   <!-- link home -->

  <!-- link home -->
  <div class="row">
    <div class="col s12 m6 offset-m3 center">
      <a href="/index.html"> VOLTAR AO MENU PRINCIPAL </a>
    </div>
  </div>

</div>
