<!-- footer -->
<!-- <footer class="page-footer blue accent-4">
  <div class="container">
    <div class="row">
      <div class="col s12 center ">
        <img
          src="/assets/resources/images/carrinho-de-compras.png"
          id="logo-footer"
          class="img-responsive"
          height="120em"
        />
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container my-font">
      &copy; Copyright - {{ this.year }} - {{direitos}}
    </div>
  </div>
  <h2>Aqui é o footer</h2>
</footer> -->
<!-- fim footer -->


<footer class="page-footer blue-grey darken-4 accent-4 center-align">
  <div class="footer-copyright">
    <div class="container my-font">
      &copy; Copyright - {{ this.year }} - Todos os direitos reservados
    </div>
    <div class = "container my-font">
      E-mail do desenvolvedor {{sobreEMailNotaMental}}
    </div>
    <div class = "container my-font">
      Clique <a [href]="sobreUrlGit" target="_blank" >aqui</a>  para abrir o projeto no GIT
    </div>
    <img
    src="/assets/resources/images/lampada.png"
    id="logo-footer"
    class="img-responsive"
    height="120em"
  />
  </div>
</footer>


