<!--
<header>
  <app-testeira-nota-mental></app-testeira-nota-mental>
</header>

<main>
  <app-exibicao-nota-mental [notas]="notas"></app-exibicao-nota-mental>
</main>

<app-nova-nota-mental (aoGravarNovaNota)="transferirNota($event)" ></app-nova-nota-mental>



<footer>
  <app-sobre-nota-mental></app-sobre-nota-mental>
</footer>

 -->



 <header>
  <app-testeira-nota-mental></app-testeira-nota-mental>
</header>

<router-outlet>
</router-outlet>

<footer>
  <app-sobre-nota-mental></app-sobre-nota-mental>
</footer>

