
<div
  class="center-align intro my-logo-text"
  [ngStyle]="this.getBackgroundImage()"

>
<h1 class="grey-text text-lighten-5">Notas mentais</h1>
  <h5 class="grey-text text-lighten-5">
    <app-product-panel [value]="this.user.qtde"></app-product-panel>
  </h5>

</div>
<!-- container -->
<div class="container about"  [ngStyle]="this.getBackgroundImage()">

  <!-- painel serviços  -->
  <div id="painel-servicos" *ngIf="!this.loggedIn">
    <h5 class="center-align">Opções</h5>
    <hr />
    <div class="row">
      <!-- serviços -->
      <div class="col s12 m6">
        <a routerLink="lista">
          <div class="card-panel blue-grey lighten-1 accent-4 center my-card-button">
            <span class="white-text flow-text"> suas notas </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a routerLink="nova-lista">
          <div class="card-panel blue-grey lighten-1 accent-4 center my-card-button">
            <span class="white-text flow-text"> tipos de notas </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a routerLink="cadastrar">
          <div class="card-panel blue-grey lighten-1 accent-4 center my-card-button">
            <span class="white-text flow-text"> nova nota </span>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a routerLink="about">
          <div class="card-panel blue-grey lighten-1 accent-4 center my-card-button">
            <span class="white-text flow-text"> conteúdo-desta-versão </span>
          </div>
        </a>
      </div>
      <!-- serviços -->
    </div>
    <!-- fim linha -->
  </div>
  <!-- fim painel serviços -->

  <!-- painel login -->
  <div id="painel-login" class="row" *ngIf="!this.loggedIn">
    <div class="col s12 m6 offset-m3">
      <a routerLink="login">
        <div
          id="botao-login"
          class="card-panel blue-grey lighten-1 accent-4 center my-card-button"
        >
          <span class="white-text flow-text"> LOGIN </span>
        </div>
      </a>
    </div>
  </div>
  <!-- fim painel login -->
</div>
<!-- fim container -->
