
<div class="nav-wrapper" style="z-index: 1001 !important">
  <nav>

    <div class="nav-wrapper blue-grey darken-4 accent-4">
      <div class="container">
         <a href="/index.html" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>

        <ul class="hide-on-med-and-down">

          <li>
          <img
            src="assets/resources/images/brain.png"
            class="img-responsive"
            height="54px"
          /></li>
          <li><a routerLink="/nova-nota-mental" class="flow-text">nova nota mental</a></li>
          <li><a routerLink="/exibicao-nota-mental" class="flow-text">notas mentais em ser</a></li>
          <li><a routerLink="notas-concluidas"  class="flow-text">notas mentais concluídas</a></li>
          <li><a routerLink="" class="flow-text">index</a></li>
          <li>Avaliação - Projeto Completo</li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav grey" id="mobile-demo" #mobile>
    <div class="row">
      <div class="col s8 offset-s2">
      </div>
    </div>
    <li><a routerLink="/nova-nota-mental" class="flow-text">nova nota mental</a></li>
    <li><a routerLink="/exibicao-nota-mental" class="flow-text">suas notas mentais</a></li>
    <li><a routerLink="notas-concluidas"  class="flow-text">notas mentais concluídas</a></li>
    <!-- <app-sobre-nota-mental></app-sobre-nota-mental> -->
  </ul>

</div>
<!-- fim menu -->

